@import "../Utils/Mixins";

.ui-container {
  background-color: #f2f5fa;
  height: calc(100vh - 10px);
  .header {
    background-image: linear-gradient(289deg, #31ACE2, #f2f5fa);
  }
  .body {
    height: 100%;
  }
}
