@import "../Utils/Mixins";

.custom-nav-tab {
  ul, li, span {
    border: none;
    font-size: 14px;
    letter-spacing: normal;
    color: #253858;
  }  
  min-width: 100%;
  z-index: 1;
  background-color: #fff;
  ul {
    border-bottom: 2px solid #d7dee8;
    li {
      min-width: 120px;
      .nav-link {
        border-color: #fff !important;
        &.active {
          border-bottom: 4px solid #1f9aff !important;
          color: #1f9aff !important;
        }
      }
      .tab-content {
        font-size: 15px;
        font-weight: normal;
        min-height: 50px;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
}

