@import "../Utils/Mixins";
@import "../../variables";

.ui-home {
  background-color: #f2f5fa;
  .breadcrumb {
    background-color: #fff;
    margin: 10px 0;
    .breadcrumb-item {
      font-size: 24px;
    }
  }
}

.form-container {
  // background-color: #EAF2F9;
  margin: 50px 10%;
  border-radius: 5px;
  header {
    color: white;
    background-image: linear-gradient(289deg, #f2f5fa, #31ACE2);
    height: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    h3 {
      width: 100%;
      padding-left: 10px; 
    }
  }
  form {
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 30px;
    .submit-button {
      margin-top: 20px;
      button {
        width: 100%;
        background-color: #35AEE3;
      }
    }
  }
}
