@import "../Utils/Mixins";
@import "../../variables";

.ui-home {
  background-color: #f2f5fa;
  .breadcrumb {
    background-color: #fff;
    margin: 10px 0;
    .breadcrumb-item {
      font-size: 24px;
    }
  }
}

.form-container {
  background-color: $background-clr;
  margin: 50px 10%;
  padding-top: 50px;
  border-radius: 5px;
  form {
    padding: 20px;
    padding-bottom: 30px;
    .submit-button {
      margin-top: 20px;
    }
  }
}
