/*******************
  Helper Styles
*******************/
.error-message {
  margin-top: 10px;
	color: #f44336;
}

.padding-0 {
  padding: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}